* {
    margin: 0;
    padding: 0;
}
input,button {
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: .3rem;
}
input{
    cursor: text;
}
#login, #register{
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10vw;
}
.login, .register{
    display: block;
    width: 8cm;
    padding: .7rem;
    margin: 1rem;
    border: 0;
}
.register{
    width: 10cm;
}
#flinput{
    padding: 0;
}
.flinput{
    display: flex;
    justify-content: space-between;
}
.text50{
    border: 0;
    padding: .7rem;
}
#firstname{
    width:40%;
}
#lastname{
    width: 55%;
}
#btnlogin, #btnregister{
    width: 50%;
    margin:auto;
    margin-top: 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(24, 53, 158), rgb(70, 68, 196));
    transition-property: background-color color;
    transition-duration:.4s;
}
#btnlogin:hover, #btnregister:hover{
    letter-spacing: .1rem;
}
#forgotpassword{
    box-shadow: 0 0 0 0;
    background: none;
    width: 4cm;
    margin: 1cm auto;
    /* padding: 1cm; */
    color: blueviolet;
}
#createnewaccount{
    box-shadow: 0 0 0 0;
    background: none;
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

/* #customer-interface{
    display: block;
}
#hotelier-interface{
    display: block;
}
#admin-interface{
    display: block;
} */