.login {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput{
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}
.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
  border: none;
  margin: 0 10px;
}

.divider-text {
  font-size: 16px;
}
