.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  flex-grow: 1; /* Thêm thuộc tính flex-grow để chiếm toàn bộ độ rộng của navbar */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}
