/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-page {

}

.header_wrapper {
  background-color: #003580
}
.header, .search_wrapper {
  width: 80%;
  margin: auto;
}


.header > div{
  background-color: #003580;
  padding: 1rem;
  margin: auto;
}

.logo {
  color: #fff;
  max-width: 100%;
}

.navbar {
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sign-in > ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  list-style: none;
  font-size: 24px;
}

button {
  cursor: pointer;
}

li > button {
  font-size: 24px;
  border-radius: 2px;

}
.theme {
  background-color: #003580;
  color: #fff;
  border: none;
  padding: 0.5rem;
}

.theme:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark {
  background-color: #fff;
  color: #003580;
  border: 1px solid rgba(0, 53, 128, 0.5);
  padding: 0.5rem;
}

.dark:hover {
  background-color: rgb(234, 237, 244);
}
a {
  color: inherit;
  text-decoration: none;
}

form {
  display: flex;
  align-items: center;
}

form > div > input, .people {
  border-radius: 2px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
}

.search form > div > button {
  border-radius: 2px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-left: 5px;
  background-color: #0071c2;
  color: #fff;
  padding: 0 1rem;
}
.location {
  display: flex;
  flex: 1 1 auto;
}

.date {
  display: flex;
  flex: 0 0 27%;
  border-radius: 0px; 
  height: 40px;
}

.people {
  display: flex;
  flex: 0 0 27%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  /* column-gap: 5% ; 
} */
